@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 25px;
}
header {
    background-image: url("images/weather-header.jpg");
    background-color: #CAE9A1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 75px;
    text-align: center;
}

.class-info {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #54665A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #779280;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
