@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header {
    background-image: url("./images/header.jpg");
    background-color: #F1F5A9;
    color:  #54665A;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.headimage {
    background-image: url("./images/header.jpg");
    background-size: 100%;
    min-height: 100%;
}

h1 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 50px;
    text-align: center;
}

.class-info {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #54665A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #779280;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.color1 {
    background-color: #DEE9C8;
    color: #54665A;
    margin-top: -24px;
}

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

hr {
    border: 2px solid  #82BFAC;
    opacity: 50%;
   
}

h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #54665A;
    text-align: center;
}

/* CSS for index page */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* css for audience page */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
}

.grid1 {
    grid-column: 1;
    grid-row: 1;
    
}

.grid1-2 {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    margin-left: 0;
    padding: 8px;
    margin-right: 0;
    background-color: #82BFAC;
    color: #546654;
}
.grid2 {
    grid-column: 1;
    grid-row: 3;
}

.grid2-2 {
    grid-column: 1;
    grid-row: 4;
    margin-top: 0;
    margin-left: 0;
    padding: 8px;
    margin-right: 0;
    background-color: #cae9a1;
    color: #546654;
}

.grid3 {
    grid-column: 1;
    grid-row: 5;
}

.grid3-2 {
    grid-column: 1;
    grid-row: 6;
    margin-top: 0;
    margin-left: 0;
    padding: 8px;
    margin-right: 0;
    background-color: #f1f5a9;
    color: #546654;
}

.grid4 {
    grid-column: 1;
    grid-row: 7;
}

.grid4-2 {
    grid-column: 1;
    grid-row: 8;
    margin-top: 0;
    margin-left: 0;
    padding: 8px;
    margin-right: 0;
    background-color: #ebb26f;
    color: #546654;
}

/* color scheme page */
.colors-img {
    width: 100%;
}

/* typography page */
table {
    width: 100%;
    border: 1px solid #82BFAC;
    margin-bottom: 20px;
}

.overflow {
    overflow-x: auto;
}

tr:first-child {
    background-color: #F1F5A9;
    color: #779280;
}

tr {
    border: 1px solid #82BFAC;
}

.sample1 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 50px;
    color: #54665A;
    background-color: #F1F5A9;
}
.sample2 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 35px;
    background-color: #82BFAC;
    color: #DEE9C8;
}

.sample3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: #cae9a1;
    color: #54665A;
}

.sample4 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 25px;
    background-color: #DEE9C8;
    color: #54665a;
}

.sample5 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 20;
    color: #54665A;
}

.sample6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #54665A;

}

.footer-nav {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #CAE9A1;
    color: #54665A;
}

.footer-content {
    margin: auto;
    text-align: center;
}
