@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header {
    background-image: url("./images/header.jpg");
    background-color: #F1F5A9;
    color:  #54665A;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



h1 {
    font-family: 'Playfair+Display', Times, serif;
    font-size: 50px;
    text-align: center;
}

.class-info {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #54665A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #779280;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.color1 {
    background-color: #DEE9C8;
    color: #54665A;
   
}

h2 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

hr {
    border: 2px solid  #82BFAC;
    opacity: 50%;
   
}

h3 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #54665A;
    text-align: center;
}