@media screen and (min-width: 32.5em) {

.headermenu {
    display: flex;
}

.headermenu li {
    display: block;
    flex: 1 1 auto;
}

.headermenu a {
    text-align: center;
}

.headermenu li:first-child {
    display: none;
}
}