h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0E0E52;
    filter: drop-shadow(2px 2px 4px white)
}

header {
    background-color: #B2B2B2;
    padding: 5px;
}

main {
    background-color: #58504A;
    color: #B2B2B2;

}

section {
    width: 250px;
    height: 375px;
    background-color: #58504A;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 4px black;
}

h2 {
    color: white;
    text-align: center;

}

p {
    color: #b2b2b2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .65em;
    text-align: center;
}

img {
    width: 225px;
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #0E0E52;
}

.cards {
    background-color: #b2cecb;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 2px 2px 4px #0E0E52;
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #B2B2B2;
    background-color: #0E0E52;
    padding-top: 10px;
    padding-bottom: 10px;
}

.BYUI2 {
    color: #03b5aa;
}



.BYUI2 a:visited {
    color: #a63d40;
}