@media screen and (min-width: 80em) {

    header {
        width: 100%;
        height: 262px;
    }
    
    header .background-image {
        background-image: url(./images/header-1600.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #f3f5f3;
    }
    
    .logoImage {
        width: 200px;
        height: auto;
    }
    
    .headerH1{
        font-size: 3rem;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 400px;
    }
    
    
    .headerP {
        font-size: 1.05rem;
        padding-left: 10px;
        padding-right: 400px;
    }
    
    nav {
            max-width: 100%;
            padding-left: 150px;
        }
        
    .headermenu {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            justify-content: center;
            
        }
        
        .heroimage {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .hero-box {
            max-width: 400px;
            padding: 20px;
            opacity: 80%;
            position: absolute;
            top: 60%;
            right: 57%;
        }

        .ss-hero-box, .fishy-hero-box {
            max-width: 400px;
            padding: 20px;
            position: absolute;
            top: 60%;
            left: 55%;
        }

        .fishy-hero-box {
            opacity: 85%;
        }

        .ss-hero-box {
            opacity: 60%;
        }
    
        .weather-box, .ss-hero-box, .fishy-hero-box {
            padding-left: .2em;
        }
    
        .row2 {
            padding-left: 50px;
            padding-right: 50px;
        }
    
        .row3 {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 10px;
        }
    
        .r1 {
            grid-row: 1;
            grid-column: 1/6;
            font-family:  'Playfair+Display', Times, serif;
            font-size: 2em;
            color:#ef6429;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        
        .r2c1 {
            grid-column: 1;
            grid-row: 2;
          
        }
        
        .r2c2 {
            grid-column: 2;
            grid-row: 2;
        }
        
        .r2c3 {
            grid-column: 3;
            grid-row: 2;
        }
        
        .r2c4 {
            grid-column: 4;
            grid-row: 2;
        }
        
        .r2c5 {
            grid-column: 5;
            grid-row: 2;
        }
    
        .article {
            width: 80%;
           
        }
    
        main figure.article-image img {
            width: 30%;
        }

        .divide {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-left: auto;
            margin-right: -50px;
            margin-top: 10px;
        }

        .so-da {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 10px;
        }

        .pres-da {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 10px;
        }
        
        .prestonevents {
            grid-column: 1;
            margin-left: 25px;
            margin-right: 25px;
            padding-top: 35px;
        }
    
        .sodaevents {
            grid-column: 1;
            margin-top: 20px;
            margin-left: 50px;
            padding-top: 20px;
        }

        .fishyevents {
            margin-top: 0;
            grid-column: 1;
            margin-left: 35px;
            margin-right: 10px;
            padding-right: 10px;
        }
    
        .fishy-article {
            grid-column: 2;
            max-width: 800px;
            margin-left: 10px;
            margin-right: 0;
        }

        .preston-article {
            grid-column: 2;
            max-width: 800px;
            margin-left: 10px;
            margin-right: 0;
        }
        .ss-article {
            grid-column: 2;
            max-width: 800px;
            margin-left: 10px;
            margin-right: 0;
            margin-top: 20px;
        }
    
        .article-title {
            margin-top: 10px;
            padding-top: 20px;
        }
    
        .footer1, .fishy-footer1 {
            width: 80%;
            max-height: 300px;
            margin-bottom: 2px;
            margin-right: auto;
            margin-left: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 10px solid white;
        }
    
        .contact-title {
            grid-column: 2;
            grid-row: 1;
        }
    
        .contact-address {
            color: rgb(12, 73, 73);
        }

        .location {
            width: 30px;
            padding-left: 50px;
        }
    
        .secondRow {
            padding-left: 80px;
        }
        .contact-address {
            display: block;
            grid-column: 2;
            grid-row: 2;
        }
    
        .contacticons {
            grid-column: 2;
            grid-row: 3;
        }
    
        .social-icons {
            display: block;
            grid-column: 2;
            grid-row: 4;
            padding-bottom: 10px;
            padding-left: 35px;
             }
    
        .social {
            width: 50px;
            padding-right: 20px;
            padding-top: 10px;
    
        }
    
        .mapouter1 {
            display: none;
        }
    
        .gmap1 {
            display: none;
        }
        
        .mapouter{
            display: block;
            grid-column: 1;
            grid-row: 1/5;
            padding-left: 100px;
        padding-right: 100px;
        padding-top: 25px;
        padding-bottom: 10px;
        height:250px;
        width:500px;
        }

        .gmap {
            display: block;
            grid-column: 1;
            grid-row: 1/5;
            overflow:hidden;
            background:none;
            height: 250px;
            width: 500px;
    
        }

        .social-icons {
            display: block;
        } 
          
    footer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 225px;
        padding-right: 225px;
        padding-top: 8px;
        padding-bottom: 15px;
        margin-bottom: 25px;
        }

    .pics:hover {
        padding: 10px;
        box-shadow: 2px 2px 4px rgb(12, 73, 73);
        }

    /* storm page css */
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 150px;
        margin-top: 25px;
        }
    

    /* home page */
    .way2go {
         font-size: 2.5em;
        }
    .huh {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-column-gap: 100px;
        }

    .sip {
        grid-column: 1;
        grid-row: 1;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-top: -25px;
    }

    .theDeets {
        grid-column: 2;
        grid-row: 1;
        padding-left: 20px;
        padding-right: 100px;
        padding-top: 20px;
    }

    .fish-title, .soda-title, .preston-title {
        font-size: 1.2em;
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 10px;
        text-align: center;
    }

    .fish-motto, .soda-motto, .preston-motto {
        font-size: .6em;
    }

    .soap-box {
        width: 1100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

    .soap-box article:nth-child(1) img {
        grid-column: 1;
        grid-row: 1;
        width: 350px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .soap-box article:nth-child(1) .data {
        grid-column: 1;
        grid-row: 2;
        width: 350px;
    }

    .soap-box article:nth-child(2) {
        color: #77aeb1;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .soap-box article:nth-child(2) img {
        grid-column: 2;
        grid-row: 1;
        width: 330px;
    }

    .soap-box article:nth-child(2) .data {
        grid-column: 2;
        grid-row: 2;
        width: 250px;
        color: #2d5052;
        background-color: white;
    }


    .soap-box article:nth-child(3) img {
        grid-column: 3;
        grid-row: 1;
        width: 350px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .soap-box article:nth-child(3) .data {
        grid-column: 3;
        grid-row: 2;
        width: 350px;
    }
}